include qanom/resources/verb-to-nom-heuristic/nom_verb_pairs.txt
include qanom/resources/catvar/catvar21.signed
include qanom/resources/catvar/LICENSE.txt
include qanom/resources/catvar/README.md
include qanom/version.txt
include README.md