pattern3
backports.csv==1.0.7
backports.functools-lru-cache==1.5
beautifulsoup4==4.8.0
certifi==2019.6.16
chardet==3.0.4
cheroot==6.5.5
CherryPy==18.1.2
feedparser==5.2.1
future==0.17.1
idna==2.8
jaraco.functools==2.0
lxml==4.4.0
more-itertools==7.2.0
mysqlclient==1.4.2.post1
nltk==3.4.4
numpy==1.17.0
pandas==0.25.0
Pattern==3.6
pdfminer.six==20181108
portend==2.5
pycryptodome==3.8.2
python-dateutil==2.8.0
python-docx==0.8.10
pytz==2019.2
requests==2.22.0
scipy==1.3.0
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.2
tempora==1.14.1
urllib3==1.25.3
zc.lockfile==2.0
