nltk
pandas
tqdm
# for predicate detector
transformers>=2.11.0
torch>=1.4
scikit-learn
constrained_decoding # for `dfa_fill_qasrl_slots` used in `QASRL_Pipeline`
# Docassemble-Pattern # for candidate extraction, if ones wished to replicate the construction of affixes-heuristic verb--nom pairs list (verb_to_nom.py):